:root {
  --banner-color: #017b76;
  --banner-height: 115px;
  --text-color: white;

  --title-size: 38px;

  --h1-horizontal-offset: 40px;
  --nav-horizontal-offset: 35px;

  --nav-font-size: 22px;
  --nav-vertical-displacement: 39%;

  --nav-text-color: #cfd2d2;
}

#banner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color);
  background-color: var(--banner-color);
  width: 100%;
  min-width: 1200px;
  height: var(--banner-height);
  position: relative;
  font-family: var(--banner-font);
}

#logo_container {
  margin: 0 auto;
}

.link {
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.header_link {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--title-size);
  font-family: var(--banner-font);
  font-weight: bold;
  margin-right: 25px;
  margin-left: var(--h1-horizontal-offset);
}

#nav {
  color: var(--nav-text-color);
  right: 0px;
  margin-right: var(--nav-horizontal-offset);
  top: var(--nav-vertical-displacement);
  font-size: var(--nav-font-size);
}

.nav_link {
  color: white;
}

.disabled_nav_link {
  color: gray;
}

.current_nav {
  font-weight: bold;
  color: white;
}

.unselected_nav {
  color: inherit;
}
