:root {
  --button-border-width: 4px;
  --wallet-button-width: calc(var(--item-width)*0.8);
  --button-height: 95px;
  
  --wallet-button-active-color: #56c1ff;
  --wallet-button-hover-color: #78e3ff;
  --wallet-button-click-color: #34a0dd;
  --wallet-button-inactive-color: gray;
}

.ui_link_container {
  height: var(--button-height);
  display: block;
  width: calc(var(--item-width) - (var(--button-border-width)*2));
  position: relative;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.ui_link_text_container {
  height: var(--button-height);
  margin: 0 auto;
  width: 100%;
}

.button_contents_container {
  position: absolute;
  margin: 0;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  width: inherit;
}

.home_button_links {
  margin: 0 auto;
  width: var(--item-width);
  display: flex;
  flex-direction: column;
}

.ui_button_link {
  background-color: var(--wallet-button-active-color);
  font-size: 34px;
  border: var(--button-border-width) solid black;
  color: white;
}

a.ui_button_link:hover {
  background-color: var(--wallet-button-hover-color);
}

a.ui_button_link:active{
  background-color: var(--wallet-button-click-color);
}

.ui_button_link_inactive {
  background-color: var(--wallet-button-inactive-color);
  font-size: 34px;
  border: var(--button-border-width) solid black;
  color: white;
}

div.ui_button_link_inactive:hover {
	cursor: not-allowed;
}

.ui_wallet_button_link {
	width: var(--wallet-button-width);
}

.ui_text_link {
  text-decoration: none;
  text-align: center;
  width: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  color: black;
  display: block;
  margin-top: 34px;
  cursor: pointer;
}

a.ui_text_link:hover {
	text-decoration: underline;
}

.ui_text_link:hover {
  text-decoration: underline;
}

.regenerate_button {
  right: 0px;
  font-size: 22px;
  cursor: pointer;
}

.regenerate_button_left_spacer {
  width: 758px;
}
