:root {
  --button-border-width: 4px;
  --button-width: 100%;
  --button-height: 88px;
  
  --wallet-button-active-color: #56c1ff;
  --wallet-button-hover-color: #78e3ff;
  --wallet-button-click-color: #34a0dd;
  --alt-wallet-button-active-color: #ff0000;
  --alt-wallet-button-hover-color: #ff2222;
  --alt-wallet-button-click-color: #dd1144;
  
  --wallet-button-inactive-color: gray;
  
  --double-button-center-space-width: 50px;
  --spinner-right-margin: 10px;
  
  --regenerate-button-width: 115px;
  --regenerate-button-right-margin: calc((var(--page-box-width) - var(--item-width)) / 2 );
  --regenerate-button-left-margin: calc(var(--item-width) - var(--regenerate-button-width) - var(--regenerate-button-right-margin)); 
}

.ui_link_container {
  height: var(--button-height);
  width: calc(var(--button-width) - var(--button-border-width)*2);
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  display: table;
  font-weight: bold;
}

.ui_link_text_container {
  height: var(--button-height);
  margin: 0 auto;
  width: 100%;
}

.button_contents_container {
  position: relative;
  height: 100%;
  width: 100%;
  line-height: var(--button-height);
  display: table-cell;
  vertical-align: middle;
}

.home_button_links {
  margin: 0 auto;
  width: var(--item-width);
  display: flex;
  flex-direction: column;
}

.ui_button_link {
  background-color: var(--wallet-button-active-color);
  font-size: 34px;
  border: var(--button-border-width) solid black;
  color: white;
}

.ui_button_link.stop_tx_generation_color {
	background-color: var(--alt-wallet-button-active-color);
}

a.ui_button_link:hover {
  background-color: var(--wallet-button-hover-color);
  text-decoration: none;
}

a.ui_button_link.stop_tx_generation_color:hover {
	background-color: var(--alt-wallet-button-hover-color);
}

a.ui_button_link:active{
  background-color: var(--wallet-button-click-color);
}

a.ui_button_link.stop_tx_generation_color:active{
  background-color: var(--alt-wallet-button-click-color);
}

.ui_button_link_inactive {
  background-color: var(--wallet-button-inactive-color);
  font-size: 34px;
  border: var(--button-border-width) solid black;
  color: white;
}

.stop_tx_generation_color: {
  background-color: red;
}

div.ui_button_link_inactive:hover {
	cursor: not-allowed;
}

.ui_text_link {
  text-decoration: none;
  text-align: center;
  width: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  color: black;
  display: block;
  cursor: pointer;
}

a.ui_text_link:hover {
	text-decoration: underline;
}

.ui_text_link:hover {
  text-decoration: underline;
}

.text_box_top_right_button {
  font-size: 22px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
}
