:root {
  --button-border-width: 4px;
  --wallet-button-width: calc(var(--item-width)*0.8);
  --wallet-button-active-color: green;
  --wallet-button-inactive-color: gray;
}

.ui_link_container {
  height: 95px;
  display: block;
  width: calc(var(--item-width) - (var(--button-border-width)*2));
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.ui_link_text_container {
  padding-top: 34px;
  margin: 0 auto;
  width: 100%;
}

.button_text {
  position: absolute;
  margin: 0;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  width: inherit;
}

.home_button_links {
  margin: 0 auto;
  width: var(--item-width);
  display: flex;
  flex-direction: column;
}

.ui_button_link {
  background-color: #56c1ff;
  font-size: 34px;
  border: var(--button-border-width) solid black;
  color: white;
}

.ui_wallet_button_link {
	width: var(--wallet-button-width);
}

.ui_active_wallet_button {
	background-color: var(--wallet-button-active-color);
}
.ui_inactive_wallet_button {
	background-color: var(--wallet-button-inactive-color);
}

.ui_text_link {
  text-decoration: none;
  display: block;
  width: 18%;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  color: black;
}

.ui_text_link:hover {
  text-decoration: underline;
}

.regenerate_button {
  right: 0px;
  font-size: 22px;
}

.regenerate_button_left_spacer {
  width: 758px;
}
