:root {
  --progress-bar-height: 66px;
  --progress-bar-color: #29dc10;
  --progress-bar-container-color: #017b76;
  --progress-bar-text-color: white;
  --progress-bar-text-size: 28px;
  
  --text-box-border-width: 4px;
  --text-entry-background-color: white;
  --text-box-background-color: grey;
}

.page_box > div {
  margin: 0 auto;
}

.page_box {
  width: var(--page-box-width);
  height: 100%;
  margin: 0 auto;
}

.save_phrase_box_bottom_margin {
  height: 28px;
}
.regenerate_button_bottom_margin {
  height: 16px;
}

.title {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 42px;
  padding-top: 80px;
  margin: 0;
  line-height: 33px;
}

.sub_title {
  font-size: 26px;
  padding-bottom: 120px;
  margin: 0;
}

.header {
  width: inherit;
  font-size: 35px;
  padding-top: 44px;
  margin: 0;
  line-height: 33px;
}

.header_text {
  text-align: center;
}

.header_bottom_margin {
  height: 48px;
}

.regenerate_button_container {
  display: flex;
  flex-direction: row;
}

.main_content {
  width: var(--item-width);
}

.text_box {
  font-size: 31px;
  background-color: var(--text-box-background-color);
  font-family: var(--font);
  line-height: 42px;
  border: var(--text-box-border-width) solid black;
  width: calc(100% - var(--text-box-border-width)*3);
  height: 180px;
}

.loading_animation_container {
  display: grid;
  height: 180px;
  width: 100%;
  grid-template-areas:
    ".     .     ."
    ". animation ." 
    ".     .     .";
  grid-template-rows: 1fr auto 1fr;
}

.loading_animation {
  grid-area: animation;
  margin: 0 auto;
}

.default_value {
  color: gray;
}

.new_value {
  color: black;
}

.enter_phrase_box {
  background-color: var(--text-entry-background-color);
}

.enter_restore_height_box {
  background-color: var(--text-entry-background-color);
  height: 42px;
}

textarea {
  resize: none;
}

.progress_bar_container {
  display: block;
  position: relative;
  background-color: var(--progress-bar-container-color);
  height: var(--progress-bar-height);
  margin: 0 auto;
  width: 840px;
}

.progress_bar, .progress_percentage {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.progress_bar {
  background-color: var(--progress-bar-color);
  top: 0;
  left: 0;
}
.progress_percentage {
  width: 100%;
  color: var(--progress-bar-text-color);
  text-align: center;
  margin: 0 auto;
  z-index: 10;
  font-size: var(--progress-bar-text-size);
  font-weight: bold;
  padding-top: calc(var(--progress-bar-height)/2 - var(--progress-bar-text-size)/2);
  padding-bottom: calc(var(--progress-bar-height)/2 - var(--proress-bar-text-size)/2);
}
