:root {
  --progress-bar-height: 66px;
  --progress-bar-color: #29dc10;
  --progress-bar-container-color: #017b76;
  --progress-bar-text-color: white;
  --progress-bar-text-size: 28px;
}

.page_box > div {
  margin: 0 auto;
}

.restore_height_entry {
  display: flex;
  flex-direction: row;
}

.save_phrase_box_bottom_margin {
  height: 28px;
}
.regenerate_button_bottom_margin {
  height: 16px;
}

.title {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 42px;
  padding-top: 80px;
  margin: 0;
  line-height: 33px;
}

.sub_title {
  font-size: 26px;
  padding-bottom: 120px;
  margin: 0;
}

.header {
  width: inherit;
  font-size: 35px;
  padding-top: 44px;
  margin: 0;
  line-height: 33px;
}

.header_text {
  text-align: center;
}

.header_bottom_margin {
  height: 48px;
}

.regenerate_button_container {
  display: flex;
  flex-direction: row;
}

.main_content {
  width: var(--item-width);
}

.text_box {
  font-size: 31px;
  font-family: var(--font);
  line-height: 41px;
  border: 4px solid black;
  height: 180px;
  margin: 0 auto;
}

.default_value {
  color: gray;
}

.new_value {
  color: black;
}

.enter_phrase_box {
  background-color: #dddddd;
  line-height: 41px;
}

.progress_bar_container {
  position: relative;
  background-color: var(--progress-bar-container-color);
  height: var(--progress-bar-height);
  width: 800px;
}

.progress_bar, .progress_percentage {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.progress_bar {
  background-color: var(--progress-bar-color);
  top: 0;
  left: 0;
}
.progress_percentage {
  width: 100%;
  color: var(--progress-bar-text-color);
  text-align: center;
  margin: 0 auto;
  z-index: 10;
  font-size: var(--progress-bar-text-size);
  font-weight: bold;
  padding-top: calc(var(--progress-bar-height)/2 - var(--progress-bar-text-size)/2);
  padding-bottom: calc(var(--progress-bar-height)/2 - var(--proress-bar-text-size)/2);
}
