.page_box > div {
  margin: 0 auto;
}

.save_phrase_box_bottom_margin {
  height: 28px;
}
.regenerate_button_bottom_margin {
  height: 16px;
}

.title {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 42px;
  padding-top: 80px;
  margin: 0;
  line-height: 33px;
}

.sub_title {
  font-size: 26px;
  padding-bottom: 120px;
  margin: 0;
}

.header {
  width: inherit;
  font-size: 35px;
  padding-top: 44px;
  margin: 0;
  line-height: 33px;
}

.header_text {
  text-align: center;
}

.header_bottom_margin {
  height: 48px;
}

.regenerate_button_container {
  display: flex;
  flex-direction: row;
}

.main_content {
  width: var(--item-width);
}

.text_box {
  font-size: 31px;
  font-family: var(--font);
  line-height: 41px;
  border: 4px solid black;
  height: 180px;
  margin: 0 auto;
}

.default_value {
  color: gray;
}

.new_value {
  color: black;
}

.enter_phrase_box {
  background-color: #dddddd;
  line-height: 41px;
}
