:root {
  --progress-bar-height: 66px;
  --progress-bar-color: #29dc10;
  --progress-bar-container-color: #017b76;
  --progress-bar-text-color: white;
  --progress-bar-text-size: 28px;

  --text-box-border-width: 4px;
  --text-entry-background-color: white;
  --text-box-background-color: #d7d6d6;
  --text-box-text-color: black;
  --text-entry-inactive-border-color: red;
  --text-entry-border-color: black;
  
  --standard-margin: 42px;
}

.page_box {
  margin: 0 auto;
  width: var(--page-box-width);
  background-color: var(--app-content-bg-color);
}

.header {
  width: inherit;
  font-size: 35px;
  padding-top: 44px;
  margin: 0;
  line-height: 33px;
  text-align: center;
}

.text_box {
  background-color: var(--text-box-background-color);
  color: var(--text-box-text-color);
  font-family: var(--font);
}

.standard_page_box_margin {
	min-height: var(--standard-margin);
	height: var(--standard-margin);
}

.page_text_box {
  font-size: 31px;
  line-height: 42px;
  width: calc(100% - var(--text-box-border-width)*3);
  height: 180px;
}

.page_text_box_space {
	height: calc(180px + var(--text-box-border-width) * 4);
}

.save_phrase_box {

}

.active_border {
  border: var(--text-box-border-width) solid var(--text-entry-border-color);	
}

.inactive_border {
  border: var(--text-box-border-width) solid var(--text-entry-inactive-border-color);
}

.loading_animation_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "."
              "animation"
              ".";
  grid-template-rows: 1fr var(--loading-animation-size) 1fr;
}

.loading_animation {
  margin: 0 auto;
  flex: none;
  height: var(--loading-animation-size);
  width: var(--loading-animation-size);
  grid-area: animation;
}

.new_value {
  color: black;
}

.enter_phrase_box {
  background-color: var(--text-entry-background-color);
}

.single_line_text_entry {
  background-color: var(--text-entry-background-color);
  height: 56px;
}

textarea {
  resize: none;
}

.progress_bar_container {
  display: block;
  position: relative;
  background-color: var(--progress-bar-container-color);
  height: var(--progress-bar-height);
  margin: 0 auto;
  width: 840px;
}

.progress_bar, .progress_percentage {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.progress_bar {
  background-color: var(--progress-bar-color);
  top: 0;
  left: 0;
}
.progress_percentage {
  width: 100%;
  color: var(--progress-bar-text-color);
  text-align: center;
  margin: 0 auto;
  z-index: 10;
  font-size: var(--progress-bar-text-size);
  font-weight: bold;
  padding-top: calc(var(--progress-bar-height)/2 - var(--progress-bar-text-size)/2);
  padding-bottom: calc(var(--progress-bar-height)/2 - var(--proress-bar-text-size)/2);
}

.notification_bar {
	background-color: #fbfe56;
	font-size: 22px;
	height: 75px;
	position: relative;
}

.notification_bar_contents {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	min-width: 350px;
}

.notification_bar_contents > a {
  color: #74b295;
}
.notification_bar_contents > a:hover {
  cursor: pointer;
}

.page_box_line_field {
  display: flex;
  font-size: 16px;
}

.page_box_line_field_text {
	word-break: break-word;
}

.lines_page_container {
  padding-top: 38px;
}

.horizontal_rule {
  width: 100%;
}

.page_box_line_field_text_container {
  font-size: 24px;
  display: inline-block;
}
