:root {
  --bg-color: #eaf0f0;
  --font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --page-box-width: 900px;
  --item-width: 860px;
}

body {
  margin: 0;
  font-family: var(--font);
}

.hidden {
  visibility: hidden;
}

#app_container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: var(--bg-color);
}
