:root {

}

.home_subpage_box_flex {
	height: 100%;
	display: flex;
	flex-direction: column;
  background-color: var(--app-content-bg-color);
}

.title {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 42px;
  padding-top: 80px;
  line-height: 33px;
}

.sub_title {
  font-size: 26px;
  padding-bottom: 120px;
  margin: 0 auto;
  grid-area: sub_title;
}

.main_content {
  width: var(--item-width);
}
