:root {
  --app-content-bg-color: #ece4d4;
}

#home {
  grid-template-rows: 110px auto;
  grid-template-columns: 1fr 990px 1fr;
  padding: 0;
  margin: 0;
  height: 100%;
}

.home_subpage_box {
  grid-row-gap: 0px;
  display: grid;
  grid-template:
  "title"
  "sub_title"
  "header"
  "main_content"
  "save_phrase_box_bottom_margin"
  "home_button_links"
  "." 1fr;
  grid-template-columns: calc((var(--page-box-width) - var(--item-width))/2), var(--item-width), calc((var(--page-box-width) - var(--item-width))/2);
  background-color: var(--app-content-bg-color);
}

.save_phrase_box_bottom_margin {
  grid-area: save_phrase_box_bottom_margin;
}

.title {
  grid-area: title;
}

.sub_title {
  grid-area: sub_title;
}

.header {
  grid-area: header;
}

.main_content {
  grid-area: main_content;
}

.home_button_links {
  grid-area: home_button_links;
}
